.title{
    display: flex;
    font-family: 'Merienda One', cursive;
    color:  rgb(157, 169, 197);
    font-size: 45px;
    margin: 10px;
    align-items: center;
    justify-content: center;

  }
  .tile{
    display: flex;
    height: 80px;
    width: 80px;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    user-select: none;

    img{
      animation: effect;
      animation-duration: 0.3s;
      height: 60%;
      width: 60%;
    }

    #dot{
      height: 24px;
      width: 24px;
      animation: effectDot;
      animation-duration: 0.3s;

    }

  }
  .tile0{
    background-color: rgb(58, 82, 161);
  }
  
  .tile1{
    background-color: rgb(157, 169, 197);
  }

  @keyframes effect{
    
    from {
      width: 0%;
      height: 0%;
    }
    to {
      width: 60%;
      height: 60%;
    }

  }

  @keyframes effectDot{
    
    from {
      width: 0%;
      height: 0%;
    }
    to {
      width: 24px;
      height: 24px;
    }

  }