@import "constants";
@import "tiles";

@mixin center {
  display: flex;
  box-sizing: content-box;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  background-color: rgb(17, 17, 17);
  flex-direction: column;
  align-items: center;
}
.borde{
  @include center;
  height: 685px;
  width: 685px;
  margin: 10px;
  border: 5px solid white;
  background-color: black;
}
.main{
  @include center;
  flex-wrap: wrap;
  height: 640px;
  width: 640px;
}
