.title{
    width: 100%;
    display: flex;
    font-family: 'Righteous', cursive;
    color: black;
    font-size: 45px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .tile{
    display: flex;
    height: 80px;
    width: 80px;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    user-select: none;
    cursor: pointer;

    img{
      animation: effect;
      animation-duration: 0.3s;
      height: 60%;
      width: 60%;
    }

    #dot{
      height: 24px;
      width: 24px;
      animation: effectDot;
      animation-duration: 0.3s;

    }

  }
  .tile0{
    background-color: rgb(58, 82, 161);
  }
  
  .tile1{
    background-color: rgb(157, 169, 197);
  }

  .vul{
    background-color: rgb(41, 231, 41);
    animation: effectVul;
    animation-duration: 1s;
  }

  .death0{
    //background-color: rgb(44, 105, 105);
    background-color: rgb(58, 82, 161);
  }

  .death1{
    //background-color: rgb(92, 212, 212);
    background-color: rgb(157, 169, 197);
  }

  .butomReset{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Righteous', cursive;
    font-size: 35px;
    border: 5px solid black;
    border-radius: 25px;
    background-color: orange;
    padding: 3px;
    transition: 0.5s;
    user-select: none;
    margin-bottom: 10px;
    cursor: pointer;
    &:hover{
      transform: scale(1.2);
    }

  }

  @keyframes effectVul{
    from {
      background-color: rgb(109, 235, 109);
    }
    to {
      background-color: rgb(41, 231, 41);
    }

  }

  @keyframes effect{
    
    from {
      width: 0%;
      height: 0%;
    }
    to {
      width: 60%;
      height: 60%;
    }

  }

  @keyframes effectDot{
    
    from {
      width: 0%;
      height: 0%;
    }
    to {
      width: 24px;
      height: 24px;
    }

  }